.button {
  padding: 50px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;	
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 30px;
  box-shadow: 0 9px #999;
    transition-duration: 0.2s;
    float: left;
}

.button:hover {
	background-color: #3e8e41;
	font-size: 35px;
	}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateX(100px);
    transform: translateY(100px);
}


.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
